html {
  scroll-behavior: smooth; }

body {
  width: 100vw;
  margin: 0;
  font-family: 'Montserrat', sans serif; }

.container {
  width: 100vw;
  background: white; }

.left {
  left: 225px; }

.fixed {
  position: fixed; }

.nav {
  position: fixed;
  z-index: 9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  background: white;
  width: 100vw; }
  .nav .brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #13212E;
    font-family: 'Montserrat', sans serif;
    font-size: 1em;
    font-weight: bold;
    height: 50px; }
  .nav div {
    color: #13212E;
    padding: 5px;
    font-family: 'Montserrat';
    font-size: 0.7em;
    text-decoration: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1); }
    @media (max-width: 400px) {
      .nav div {
        display: none; } }
  .nav div:hover {
    text-decoration-color: coral;
    text-decoration-line: underline; }
  .nav .menu {
    position: absolute;
    left: 25px;
    top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .nav .menu span {
      width: 25px;
      background: #6a737b;
      height: 2px;
      border-radius: 5px;
      margin: 2px; }
  .nav .menu:hover span {
    background: #FA7921; }

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: 'Cinzel', sans-serif;
  color: #13212E;
  font-size: 1em; }
  .header #designer {
    color: white; }
    @media (max-width: 450px) {
      .header #designer {
        display: block; } }
  .header .buttonsdiv {
    display: flex; }

#designerdiv {
  width: 1px;
  height: 35px;
  background: #FA7921;
  position: relative;
  transform-origin: left;
  display: inline-block;
  top: 12px; }

.divanimate1 {
  transform: scaleX(120); }

.divanimate2 {
  transform: scaleX(0); }

.divanimate3 {
  transition: 1.5s cubic-bezier(0.4, 0, 0.2, 1); }

#side-menu {
  width: 225px;
  height: 100vh;
  background: #FA7921;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 100px; }

.projects {
  padding: 0 25px;
  cursor: pointer; }
  @media (min-width: 800px) {
    .projects {
      display: flex; } }
  .projects a {
    z-index: 9;
    text-decoration: none;
    overflow: hidden; }
    .projects a h1 {
      width: 155px;
      color: #13212E;
      font-size: 26px;
      font-family: 'Cinzel', sans-serif;
      overflow: hidden; }
    .projects a h1::before {
      content: "";
      height: 5px;
      width: 0;
      bottom: 40px;
      transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      background: #FA7921; }
    .projects a h1:hover:before {
      width: 155px;
      position: absolute; }
  .projects .project {
    margin: auto;
    padding: 10px;
    width: 80vw;
    height: 70vh;
    margin-bottom: 65px;
    scroll-snap-stop: always; }
    @media (min-width: 800px) {
      .projects .project {
        width: 45vw; } }
    .projects .project .image {
      height: 85%;
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      display: flex;
      align-items: flex-end;
      overflow: hidden; }
      .projects .project .image .view-project {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #13212E;
        color: white;
        font-size: xx-small;
        transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateX(-100%);
        transform-origin: left;
        opacity: 0.95; }
        .projects .project .image .view-project a {
          text-decoration: none;
          color: white; }
          .projects .project .image .view-project a p {
            font-size: 16px; }
    .projects .project .image:hover > .view-project {
      transform: translateX(0); }
    .projects .project p:nth-child(4) {
      color: #6a737b; }
    .projects .project .one {
      background-image: url("../images/one.png"); }
    .projects .project .two {
      background-image: url("../images/two.png"); }
    .projects .project .three {
      background-image: url("../images/three.png"); }
    .projects .project .four {
      background-image: url("../images/four.png"); }
    .projects .project .five {
      background-image: url("../images/five.png"); }
    .projects .project .six {
      background-image: url("../images/six.png"); }
      @media (max-width: 500px) {
        .projects .project .six {
          background-image: url("../images/six2.png"); } }

.contact {
  width: 80vw;
  height: 170vh;
  padding: 10px;
  margin: auto;
  text-align: center; }

form {
  margin: auto;
  width: 95%; }
  form input {
    border: none;
    border-bottom: 1px solid #13212E;
    margin: 35px;
    font-size: 16px;
    height: 45px; }
  form .inputSmall {
    width: 30%; }
    @media (max-width: 500px) {
      form .inputSmall {
        width: calc(60% + 70px); } }
  form .inputBig {
    width: calc(60% + 140px); }
  form #submit {
    display: block;
    margin: auto;
    border-bottom: none;
    background: #FA7921;
    color: white; }
  form label {
    position: relative;
    top: 0px;
    left: 88px; }
  form label:last-of-type {
    position: relative;
    left: 110px; }

.labelFocus {
  top: -25px; }
