$font-stack:    Helvetica, sans-serif;
$blue: #13212E;
$fade: #6a737b;
$orange: #FA7921;
$small: 640px;

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  margin: 0;
  font-family: 'Montserrat', sans serif;
}

.container {
  width: 100vw;
  background: white;
  // position: absolute;
  // transition: 1s ease;
  // left: 0;
  // box-shadow: -1px -2px 20px 0px #00000059;
}

.left {
  left: 225px;
}
.fixed {
  position: fixed;
}

.nav {
  position: fixed;
  z-index: 9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  background: white;
  width: 100vw;
  .brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $blue;
    font-family: 'Montserrat', sans serif;
    font-size: 1em;
    font-weight: bold;
    height: 50px;
  }
  div {
    color: $blue;
    padding: 5px;
    font-family: 'Montserrat';
    font-size: 0.7em;
    text-decoration: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    @media (max-width: 400px) {
      display: none;
    }
  }
  div:hover {
    text-decoration-color: coral;
    text-decoration-line: underline;
  }
  .menu {
    position: absolute;
    left: 25px;
    top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      width: 25px;
      background: $fade;
      height: 2px;
      border-radius: 5px;
      margin: 2px;
    }
  }
  .menu:hover span {
    background: $orange;
  }
}

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: 'Cinzel', sans-serif;
  color: $blue;
  font-size: 1em;
  #designer {
    color: white;
    @media (max-width: 450px) {
      display: block;
    }
  }
  .buttonsdiv {
    display: flex;
    
  }
}

#designerdiv {
  width: 1px;
  height: 35px;
  background: $orange;
  position: relative;
  transform-origin: left;
  display: inline-block;
  top: 12px;
}

.divanimate1 {
  transform: scaleX(120);
}

.divanimate2 {
  transform: scaleX(0);
}
.divanimate3 {
  transition: 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#side-menu {
  width: 225px;
  height: 100vh;
  background: $orange;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 100px;
}


.projects {
  padding: 0 25px;
  cursor: pointer;
  @media (min-width: 800px) {
    display: flex;
  }
  a {
    z-index: 9;
    text-decoration: none;
    overflow: hidden;
    h1 {
      width: 155px;
      color: $blue;
      font-size: 26px;
      font-family: 'Cinzel', sans-serif;
      overflow: hidden;
    }
    h1::before {
      content: "";
      height: 5px;
      width: 0;
      bottom: 40px;
      transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      background: $orange;
    }
    h1:hover:before {
      width: 155px;
      position: absolute;
    }
  }
  .project {
    margin: auto;
    padding: 10px;
    width: 80vw;
    height: 70vh;
    margin-bottom: 65px;
    scroll-snap-stop: always;
    @media (min-width: 800px) {
      width: 45vw;
    }
    .image {
      height: 85%;
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      display: flex;
      align-items: flex-end;
      overflow: hidden;
      .view-project {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: $blue;
        color:white;
        font-size: xx-small;
        // color: #ffffff00;
        transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateX(-100%);
        transform-origin: left;
        opacity: 0.95;
        a {
          text-decoration: none;
          color: white;
          p {
            font-size: 16px;
          }
        }
      }
    }
    .image:hover > .view-project {
      transform: translateX(0);
    }
    p:nth-child(3) {
      color: $fade;
    }
    .one {
      background-image: url('../images/one.png');
    }
    .two {
      background-image: url('../images/two.png');
    }
    .three {
      background-image: url('../images/three.png');
    }
    .four {
      background-image: url('../images/four.png');
    }
    .five {
      background-image: url('../images/five.png');
    }
    .six {
      background-image: url('../images/six.png');
      @media (max-width: 500px) {
        background-image: url('../images/six2.png');
      }
    }
  }
}

.contact {
  width: 80vw;
  height: 170vh;
  padding: 10px;
  margin: auto;
  text-align: center;
  p {
  }
}

form {
  margin: auto;
  width: 95%;
  input {
    border: none;
    border-bottom: 1px solid $blue;
    margin: 35px;
    font-size: 16px;
    height: 45px;
  }
  .inputSmall {
    width: 30%;
    @media (max-width: 500px) {
      width: calc(60% + 70px);
    }
  }
  .inputBig {
    width: calc(60% + 70px);
  }
  #submit {
    display: block;
    margin: auto;
  }
}